{% extends 'home/layout.html'%}
{% block title %}Bibhab Us{% endblock %}
{% block body %}
<div class="container">
  <div class="contact-page">
    <h1>Contact Us</h1>
    <form id="contact-form" method = "POST">
      {% csrf_token %}
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Your Name"
        required
      />
      <input type="email" id="email" name="email" placeholder="Your Email"
      required>
      <input type="date" id="date" name="date" required />
      <textarea
        id="message"
        name="message"
        placeholder="Your Message"
        required
      ></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
